.ar-container {
  text-align: center;
  margin-top: 20px;
}

.forest-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/imagenes/Ansiedad.jpg'); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
  z-index: 0;
}
